/* markdown css */
.schedule-preview-html blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.emoji {
    height: 1.2em;
}

.schedule-preview-html pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.schedule-preview-html table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.schedule-preview-html thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.schedule-preview-html table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.schedule-preview-html tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.schedule-preview-html table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.schedule-preview-html table > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.schedule-preview-html table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.schedule-preview-html table {
    border-spacing: 0;
    border-collapse: collapse;
}

.schedule-preview-html code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.schedule-preview-html pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}
